*{
	margin: 0px;
	padding:0px;
}
#downloadList{
	width: 90%;
	background-color: white;
	margin:20px;
}
#downloadList ul{
	background-color:white;
}
#downloadList ul li{
	list-style: none;
	padding:10px 0px;
	border-radius: 
	color:black;
	border-bottom: 1px solid rgb(230,230,230);
}
#downloadList ul li .song{
	font-size: 18px;
	padding: 10px 10px 10px 20px;
}
#downloadList ul li:hover{
	background-color:rgb(230,230,230);
}
#downloadList ul li .singer{

	font-size: 15px;
	float:right;
	padding-right: 30px;

}